<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="en-US">
<head profile="http://www.w3.org/2005/10/profile">{% load static %}
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="shortcut icon" href="favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="index, follow"/>
    <meta name="keywords" content="icon design, ios, retina, mac os x, osx, os x"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui-1.8.16.custom.min.js" %}"></script>
    <script type="text/javascript" src="/washings/jsonp/all/"></script>

    <title></title>

    <link rel="stylesheet" href="{% static "css/fonts.css" %}" />
    <link rel="stylesheet" href="{% static "css/main.css" %}" />
    <script type="text/javascript" src='http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU'></script>
    
	<script type="text/javascript">

        var viewModel;


        var mapView;


        function OrderModel()
        {
            this.clear = function() {
                this.washing_id = '';
                this.time = '';
                this.tomorrow = 0;
                this.fio = '';
                this.phone = '';
                this.carno = '';
                this.email = '';
            }

            this.addOrder = function() {

            }

            this.clear();

            return this;
        }


        var orderModel = new OrderModel();


        function showPopup(element, closeHandler) {
            $(element).find('.popupcontent').css('left', ($(document).width()-$(element).find('.popupcontent').width())/2 + 'px');
            $(element).find('.popupcontent').css('top', ($(window).height()-270)/2 + 'px');
            beforeshowtop = $('#top').css('top');
            beforeshowbottom = $('#bottom').css('bottom');
            $('#top').animate({'top': '-'+($("#top").height()+20)+'px'}, "fast");

            $('#bottom').animate({'bottom': '-400px'}, "fast", function(){
                $(element).fadeIn('fast');
                var shader = $(element).find('.shader')[0];

                function close(result){
                    return function (){
                        if (!closeHandler || (closeHandler && !closeHandler(element, result)))
                        {
                            $(element).fadeOut('fast',function(){$('#top').animate({'top': '0'}, "fast");
                            $('#bottom').animate({'bottom': '0'}, "fast");});
                        }
                        $(shader).unbind('click');
                    }
                }

                $(shader).add('.cancelbutton').bind('click', close('cancel'));
                $(".okbutton").bind('click', close('ok'));
            });
        }
		function init () {
			mapView = new ymaps.Map('bigmap', {
                center: [{{ MAP_CENTER_LAT|floatformat:6 }}, {{ MAP_CENTER_LON|floatformat:6 }}],
                zoom: 12,
                behaviors: ['default', 'scrollZoom']
            });

            mapView.controls.add('zoomControl', {right: '40px', top: '40px'});

            $("#orderwash").click(function(){
                // $("#bottombar").animate({"bottom": "-" + $("#bottombar").height() + "px", "opacity": "0.3"}, 1000);
                // $("#secondstep").animate({"bottom": "0px", "opacity":"1.0"}, 400);
            });

            $("#choosetime").click(function() {
                // showPopup($("#choosetimepopup"));
            });

                    


            viewModel = parseViewData(washings_data);
            updateMapView();
            updateListView();
		}


            function formatTime(time) {
                return [time.split(":")[0],time.split(":")[1]].join(':');
            }


        function updateMapView() {

            mapView.geoObjects.each(function (geoObject) {
                mapView.geoObjects.remove(geoObject);
            });
            
            for (var i in viewModel) {
                var washing = viewModel[i];

                buttonsContent = '<button class="selectwashing" data-washingid="' + washing.id + '" style="margin:0 auto;">Выбрать эту мойку</button>';
                // showPopup($("#choosebywashing"), function(){$("#washingslist").show();}); 
                mapView.geoObjects.add(
                    new ymaps.Placemark(
                        [washing.geo[1], washing.geo[0]], 
                        {
                            "washing_id": washing.id, 
                            balloonContent: ["<h2>",washing.name,"</h2>",
                            "<p class='description'>",washing.description,"</p>",
                            "<p class='address'>",washing.address,"</p>",
                            "<p class='time'>",formatTime(washing.start_work_day)," — ",formatTime(washing.end_work_day),"</p>",
                            buttonsContent
                            ].join(''),
                            hintContent: ['<b>', washing.name, "</b><br/>", formatTime(washing.start_work_day)," — ",formatTime(washing.end_work_day)].join(''),
                            iconContent: ""
                        }, 
                        { 
                            balloonCloseButton: true
                        }
                        )
                    );
                var washing_id = washing.id;
            }
        }

        function updateListView() {
            var list = $("#washingslist .submenu");
            list.html('');  // clear list

            for (var i in viewModel) {
                var listElement = $("<a href='#' data-id='" + viewModel[i].id + "'>" + viewModel[i].name + "</a>");
                listElement.bind('click', function(){
                    var washing_id = $(this).data('id');
                    mapView.geoObjects.each(function(geoObject){
                        if (geoObject.properties.get('washing_id') == washing_id) {
                            geoObject.balloon.open();
                        }
                    });
                });
                list.append(listElement);
            }
        }

        function updateTimeGridViewWithData(dataObject) {
            console.log(orderModel);
            var data = dataObject.result;
            $("#timeselection").html('');
            for (i in data) {
                var timegridItem = data[i];
                var selectedClass = '';
                if (timegridItem.time.split(':')[0] == orderModel.time[0] && timegridItem.time.split(':')[1] == orderModel.time[1] ) {
                    selectedClass = 'selected';
                }

                console.log('selecetedClass: '  + selectedClass);
                $("#timeselection").append('<li class="' + selectedClass + '"><a ' + (timegridItem.available == 1?'class ="'+ selectedClass + '"':'class="disabled ' + selectedClass + '"') 
                    + 'href="#" data-hours="' + timegridItem.time.split(':')[0] + 
                    '" data-minutes="' + timegridItem.time.split(':')[1] + '">' + formatTime(timegridItem.time) + '</a></li>');


            }
        }

        function retrieveDataForTimeGridByWashingIdAndToday(washingId, todayortomorrow) {
            $.get('/washings/timegrid/' + washingId + '/bytoday/' + todayortomorrow, function(data){
                updateTimeGridViewWithData(data);
            });
        }

        function initLayout() {

            function centerLayouts() {
                var windowWidth = $(document).width();
                $('.hcenter').each(function(i,obj){$(obj).css({"left": (windowWidth - $(obj).width())/2});});
            }
            centerLayouts();
            $(window).resize(centerLayouts);
            $('#selectByTime').click(selectWashingsByTime);

            function selectWashingClickHandler(){
                showPopup($("#choosebywashing"), choosebywashingCloseHandler); 
                washingId = $(this).data('washingid');
                orderModel.washingId = washingId;
                for (i in viewModel) {
                    if (viewModel[i].id == washingId) {
                        retrieveDataForTimeGridByWashingIdAndToday(washingId, 0);

                        $('#choosebywashing h5').html(viewModel[i].name);
                        $('#choosebywashing h6').html(viewModel[i].address);
                        $($('#choosebywashing .radio')[0]).attr('checked', '1');

                        break;
                    }
                }
            }

            function pickTimeClickHandler() {
                orderModel.time = [$(this).data('hours'), $(this).data('minutes')];

                $('#choosebywashing a').each(function(i,obj){
                    if ($(obj).hasClass('selected')) {
                        $(obj).removeClass('selected');
                    }
                });
                $(this).addClass('selected');

            }

            function switchTodayTomorrowHandler(){
                if ( $($('#choosebywashing .radio')[0]).attr('checked')) { 
                    orderModel.tomorrow = 0;
                } else {
                    orderModel.tomorrow = 1;
                }
                retrieveDataForTimeGridByWashingIdAndToday(orderModel.washingId, orderModel.tomorrow);
            }

            function choosebywashingCloseHandler(element, result) {
                console.log(result);
                if (result == 'ok') {
                    setTimeout(function(){showPopup($("#orderForm"), orderFormResultHandler); }, 500);
                } 
            }

            function orderFormResultHandler(element, result) {
                if (result == 'ok') {
                    // $.post('/');
                    return true;
                    console.log('MAKE ORDER!');
                }
                return false;
            }

            $('button.selectwashing').live('click', selectWashingClickHandler);
            $('#choosebywashing a').live('click', pickTimeClickHandler);
            $('#choosebywashing .radio').live('click', switchTodayTomorrowHandler);

            showPopup($('#orderForm'));
        }

        String.prototype.capitalize = function() {
            return this.charAt(0).toUpperCase() + this.slice(1);
        }

        function parseViewData(viewData) {
            var list = [];
            for (var i in viewData) {

                var fields = viewData[i].fields;
                list.push({
                    "id": viewData[i].pk,
                    "address":fields.address, 
                    "name":fields.title, 
                    "description":fields.description, 
                    "geo": [fields.geo_lon, fields.geo_lat],
                    "start_work_day": fields.start_work_day,
                    "end_work_day": fields.end_work_day
                });
            }
            return list;
        }

        function selectWashingsByTime() {
            tomorrow = 0;
            hours = $('#hours').val();
            minutes = $('#minutes').val();

            $.get('/washings/bytoday/' + tomorrow + '/andhours/' + hours + '/minutes/' + minutes,
                function (data) {
                    viewModel = parseViewData(data);
                    updateListView();
                    updateMapView();
                });
        }
		ymaps.ready(init);
        $(document).ready(initLayout);

    </script>

    <style type="text/css">
        /*#bottombar { display: none;}*/
        #choosetimepopup, #choosebywashing { display: none; z-index:10;}
        #secondstep { opacity: 0.0;} 
    </style>
</head>
<body>
  
	<div id="bigmap"></div>
	
    <div id="bottom">
        <div id="bottombar" class="hcenter">
            <p>Выберете мойку<br/>или введите желаемое время</p>
            <div class="ordertime">
                <input type="text" id="hours" value="18"></input>
                <input type="text" id="minutes" value="00" />
            </div>
            <button id="selectByTime" style="margin:0 auto;">Выбрать мойку по времени</button>
        </div>
    </div>

    <div id="top">
        <div id="topbar">
            <ul class="menu">
                <li href="#" class="last"><b>Вход для партнеров</b></li>
                <li href="#" id="washingslist"><b>Список моек &darr;</b>
                    <div class="submenu">
                        <!-- washings list here -->
                    </div>
                </li>
                
            </ul>
            <img id="logo" src="{% static "img/logo.png" %}" />
            
        </div>
    </div>

    <div id="choosebywashing" class="popup">
        <div class="shader"></div>
        <div class="popupcontent">
            <div class="inner">
                    <h5>Флагман</h5>
                    <h6>ул. Ботаническая, д. 20 корп. 1</h6>

                <div class="leftsidebar">
                    <div class="todaytomorrowselector">
                        <label><input type="radio" class="radio" value="0" name="todayortomorrow" />сегодня</label>
                        <label><input type="radio" class="radio" value="1" name="todayortomorrow" />завтра</label>
                    </div>
                </div>
                <div class="rightsidebar">
                    <ul id="timeselection">
                    </ul>
                    <div class="popupbuttons">
                        <button class="okbutton">ОК</button>
                        <button class="cancelbutton">Отменить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="orderForm" class="popup">
        <div class="shader"></div>
        <div class="popupcontent" style="width:270px;">
            <form>
                  {% csrf_token %}
                <div class="form">
                    <h4>Заполните поля заказа</h4>
                    <p><input type="text" placeholder="Ваше имя" 
                        style="border-color:#f00; width: 260px; border-radius:4px; border-width:1px; height:25px; padding:0px 0px 0px 5px; margin:0;"
                        required="required" class="fio required"/></p>
                    <p><input placeholder="Телефон" type="text" 
                        style="border-color:#f00; width: 260px; border-radius:4px; border-width:1px; height:25px; padding:0px 0px 0px 5px; margin:0;"
                        required="required" class="phone required"/></p>
                    <p><input placeholder="Номер автомобиля" 
                        style="border-color:#f00; width: 260px; border-radius:4px; border-width:1px; height:25px; padding:0px 0px 0px 5px; margin:0;"
                        type="text" required="required" class="carno required" /></p>
                    <p><input placeholder="E-mail (необязательно)" 
                        style="width: 260px; border-radius:4px; border-width:1px; height:25px; padding:0px 0px 0px 5px; margin:0;"
                        type="email" class="email" /></p>
                </div>
                <div class="popupbuttons">
                    <button style="margin-left:0px;" class="cancelbutton">Отменить</button>
                    <input type="submit" style="margin-top:10px;float:left;width:150px;" class="button okbutton" value='Выполнить заказ' />
                </div>
            </form>
        </div>
    </div>


    <!--<div id="choosetimepopup" class="popup">
        <div class="shader"></div>
        <div class="popupcontent">
            <div class="inner">
                <div class="leftsidebar">
                    <h4>Введите желаемое время</h4>
                    <div>
                        <input required="required" class="number" value="21"></input>
                        <input required="required" class="number" value="45"></input>
                    </div>
                    <div class="todaytomorrowselector">
                        <label><input type="radio" class="radio" value="today" name="todayortomorrow" />сегодня</label>
                        <label><input type="radio" class="radio" value="tommorow" name="todayortomorrow" />завтра</label>
                    </div>
                </div>
                <div class="rightsidebar">
                    <h5>Свободная мойка</h5>
                    <ul id="freewashings">
                        <li>
                            <a href="#">Авто спа</a><br/>
                            <em>ул. Льва Толстого, д. 32б</em>
                        </li>
                        <li>
                            <a href="#">Ланоил</a><br/>
                            <em>ул. Революционная, д. 82</em>
                        </li>
                        <li class="selected">
                            <a href="#">Флагман</a><br/>
                            <em>ул. Ботаническая, д. 20 к. 1</em>
                        </li>
                        <li>
                            <a href="#">Соната</a><br/>
                            <em>ул. Дзержинского, д. 25а</em>
                        </li>
                        <li>
                            <a href="#">Авто спа</a><br/>
                            <em>ул. Льва Толстого, д. 32б</em>
                        </li>
                        <li>
                            <a href="#">Ланоил</a><br/>
                            <em>ул. Революционная, д. 82</em>
                        </li>
                        <li>
                            <a href="#">Флагман</a><br/>
                            <em>ул. Ботаническая, д. 20 к. 1</em>
                        </li>
                        <li>
                            <a href="#">Соната</a><br/>
                            <em>ул. Дзержинского, д. 25а</em>
                        </li>
                    </ul>
                    <div class="popupbuttons">
                        <button class="okbutton">ОК</button>
                        <button class="cancelbutton">Отменить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</body>
</html>