<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="en-US">
<head profile="http://www.w3.org/2005/10/profile">{% load static %}
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="shortcut icon" href="favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="index, follow"/>
    <meta name="keywords" content="icon design, ios, retina, mac os x, osx, os x"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="{% static "css/admin/jqueryui/ui-lightness/jquery-ui-1.8.23.custom.css" %}" />
    <link rel="stylesheet" href="{% static "css/admin/jqueryui/flick/jquery-ui-1.8.23.custom.css" %}" />
    <link rel="stylesheet" href="{% static "css/fonts.css" %}" />
    <link rel="stylesheet" href="{% static "css/admin.css" %}" />

    <script type="text/javascript" src="{% static "js/admin/jquery-1.8.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/admin/jquery-ui-1.9.2.custom.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/admin/jquery.ui.datepicker-ru.js" %}"></script>

    <title>Управление заказами</title>

    <script type="text/javascript">
        var updateLock = false;

        function init() {
            setupDatepicker();
            retrieveData();
            $("#reportButton").click(openReportPage);
            autoUpdate();

            $(document).add('.orders').bind('scroll', function(){
                lockUpdates();
                console.log('test');
                setTimeout(function(){unlockUpdates(); }, 2000);
            });
        }

        function lockUpdates() {
            updateLock = true;
            console.log('updatelock:' + updateLock);
            return updateLock;
        }

        function unlockUpdates() {
            console.log('updatelock:' + updateLock);
            updateLock = false;
            // if (updateLock < 0) {
            //     console.log("update lock became < 0");
            //     updateLock = 0;
            // }
            return updateLock;
        }

        function autoUpdate() {
            setInterval(function(){
                
            if (updateLock>0) return;
            retrieveData();
            }, 1900);
        }

        function setupDatepicker() {
            $('#datepicker').datepicker({
                inline: true,
                onSelect: function(dateText, inst) { 
                    hidePopup();

                    day = inst.selectedDay;
                    month = inst.selectedMonth + 1;
                    year = inst.selectedYear;

                    viewState.selectedDate = [day, month, year];

                    retrieveData();
                }
            });
        }

        function retrieveData() {
            rnd = Math.random() * 1E8;
            $.get(['/operator/data/byday/',viewState.selectedDate[0],
                '/month/',viewState.selectedDate[1],
                '/year/',viewState.selectedDate[2],
                '/washing/',washingId,'?rnd=' + rnd].join(''), 
                {}, 
                function(data, status){
                    if (status == 'success') {
                        viewModel = data.result;
                        updateView();
                    } 
                });
        }

        var viewModel = {};

        function getCurrentDate() {
            var d = new Date();
            return [d.getDate(), d.getMonth()+1, d.getFullYear()];
        }

        var viewState = {
            postStart: 1,
            postEnd: {{ washing.washing_posts_count }},
            selectedDate: getCurrentDate()
        };

        var washingId = {{ washing.id }};

        function drawHeader() {
            var html = '<div class="c">Время</div>';
            for (var i = viewState.postStart; i <= viewState.postEnd; i++)
                html += '<div class="c">' + i + ' пост</div>';
            html+='<div class="c">Время</div>';
            $('.header').html(html);
        }

        function updateOrderPostNumber(order_id, new_post_number) {
            $.post(['/operator/data/changepostnumber/order/', order_id, 
                '/newpostnumber/',new_post_number].join(''), {}, function(data, status){retrieveData();});
        }

        function updateView() {
            drawHeader();
            $(".orders").html('');
                
            $('#ordersEditor .header').css('width', ((viewState.postEnd - viewState.postStart + 1) * 103 + 2*100 + 64) + 'px');

            for (var t in viewModel.timeframes_stamp) {
                time = viewModel.timeframes_stamp[t];
                ordersForTime = [];
                for (var i = 0; i < viewModel.timeframes.length; i++) {
                    frame = viewModel.timeframes[i];
                    if (frame.datetime == time 
                        && frame.postnumber >= viewState.postStart 
                        && frame.postnumber <= viewState.postEnd) {
                        ordersForTime.push(frame);
                    }
                }

                rowHtml = '<div class="row"><div class="cc">' + time + '</div>';
                rowgrid = [];
                for (var j = viewState.postStart; j<=viewState.postEnd; j++) {
                    rowgrid.push('<div data-timeframe="' + time + '" data-postnumber="' + j + '" class="c"></div>');
                }
                for (var k = 0; k < ordersForTime.length;k++) {
                    order = ordersForTime[k];
                    rowgrid[order.postnumber-viewState.postStart] = '<div data-postnumber="' + order.postnumber + '" data-id="' + order.id + '" class="c orderItem ' + (order.is_created_by_staff?'staff':'') + '">' + order.autono + '</div>';
                }
                rowHtml += rowgrid.join('');
                rowHtml += '<div class="cc">' + time + '</div></div>';
                $(".orders").append(rowHtml);
            }

            $(".orderItem").draggable({"axis":"x", 
                "addClasses":true, 
                "appendTo":"body", 
                "opacity":0.5, 
                "zIndex":80,
                "revert":true,
                start:function(e,ui){
                    lockUpdates();
                },
                stop:function(e,ui){
                    unlockUpdates();
                }
            });

            $(".c").droppable({
                drop: function (event, ui) {
                    unlockUpdates();
                    draggedItem = $(ui.draggable[0]);
                    updateOrderPostNumber(draggedItem.data('id'), $(this).data('postnumber'));
                }
            });
        }

        

        function showEditingPopup(){

            hideSelection();
            $(this).addClass('selected');

            pos = $(this).position();
            x = parseInt(pos.left) + $(this).width();
            if (x + $('#popup').width() > $(window).width()) {
                x = pos.left - $('#popup').width();
            }
            y = pos.top;
            
            if (y + $('#popup').height() > $(window).scrollTop() + $(window).height()) {
                y = $(window).height() + $(window).scrollTop() - $('#popup').height();
            }

            var id = $(this).data('id');
            if (!id) {
                timeframe = $(this).data('timeframe');
                postnumber = $(this).data('postnumber');
                showCreatePopup(timeframe, postnumber, x, y);
                return;
            }

            var orderById;
            for (var i = 0; i < viewModel.timeframes.length; i++) {
                order = viewModel.timeframes[i];
                if (order.id == id) {
                    orderById = order;
                    break;
                }
            }

            showUpdatePopup(orderById, x, y);
        }

        eventName = 'click';
        var ua = navigator.userAgent;
        eventName = (ua.match(/iPad/i) || ua.match(/iPhone/i)) ? "touchstart" : "click";

        $('#popup .close').live(eventName, function(){ hidePopup(); })
        $('.c').live(eventName, showEditingPopup);
        $('#popup .cancelbutton').live(eventName, deletePopup);
        $('#popup .okbutton').live(eventName, submitPopup);

        function hideSelection() {
            $('.c').each(function(i,obj){if ($(obj).hasClass('selected')) $(obj).removeClass('selected');});
        }

        function hidePopup() {
            $('#popup').hide();
            hideSelection();
            unlockUpdates();
            retrieveData();
        }

        function showUpdatePopup(order, x, y) {
            lockUpdates();
            $('#popup').show();
            $("#popup").css('left', x + 'px');
            $("#popup").css('top', y + 'px');
            $('#popup .cancelbutton').show();

            setPopupDataWithOrder(order);
        }

        function showCreatePopup(timeframe, postnumber, x, y) {
            lockUpdates();
            $('#popup').show();   
            $("#popup").css('left', x + 'px');
            $("#popup").css('top', y + 'px');
            $('#popup .cancelbutton').hide();

            $('#popup .orderId').val('');
            $('#popup .autono').val('');
            $('#popup .details').val('');
            $('#popup .name').val('');
            $('#popup .notes').val('');
            $('#popup .phone').val('');

            $('#popup .timeframe').val(timeframe);
            $('#popup .postnumber').val(postnumber);
        }

        function setPopupDataWithOrder(order)
        {
            $('#popup .orderId').val(order.id);
            $('#popup .autono').val(order.autono);
            $('#popup .details').val(order.details);
            $('#popup .name').val(order.name);
            $('#popup .notes').val(order.note);   
            $('#popup .phone').val(order.phone);
        }

        function grabPopupData()
        {
            var resultObject = {
                id: $('#popup .orderId').val(),
                autono: $('#popup .autono').val(),
                details: $('#popup .details').val(),
                phone: $('#popup .phone').val(),
                name: $('#popup .name').val(),
                note: $('#popup .notes').val(),
                postnumber: $('#popup .postnumber').val(),
                timeframe: $('#popup .timeframe').val()
            };
            return resultObject;
        }

        function submitPopup() {
            updateOrder(grabPopupData());
            setPopupDataWithOrder(grabPopupData());
        }

        function deletePopup() {
            deleteOrder(grabPopupData());
        }

        function deleteOrder(order) {
            if (confirm('Вы уверены что хотите удалить этот заказ?')) {
                $.get(['/operator/data/delete/',order.id].join(''),
                {}, 
                function(data, status){
                    unlockUpdates();
                    retrieveData();
                    if (status == 'success') {
                        hidePopup();
                    } else {
                        alert('Не удалось удалить выбранный заказ. Повторите попытку!');
                    }
                });
            }
        }

        function updateOrder(order) {
            if (order.id) {
                $.post(['/operator/data/update/',order.id].join(''),
                order, 
                function(data, status){
                    unlockUpdates();
                    retrieveData();
                    if (status == 'success') {
                        hidePopup();
                    } else {
                        alert('Не удалось изменить выбранный заказ. Повторите попытку!');
                    }
                });
            } else {
                order.date_time = [viewState.selectedDate[2], viewState.selectedDate[1], viewState.selectedDate[0]].join('-') + ' ' + order.timeframe;
                order.washing_post_number = order.postnumber;
                $.post(['/operator/data/create/washing/',washingId].join(''),
                order, 
                function(data, status){
                    unlockUpdates();
                    retrieveData();
                    if (status == 'success') {
                        hidePopup();
                    } else {
                        alert('Не удалось создать заказ. Повторите попытку!');
                    }
                });
            }
        }

        function openReportPage(e)
        {
            now = new Date();
            nowPlusMonth = new Date(Date.now() + 1E3 * 3600 * 24 * 31);

            day1 = '01';
            month1 = now.getMonth() + 1;
            year1 = now.getFullYear();


            day2 = day1;
            month2 = nowPlusMonth.getMonth() + 1;
            year2 = nowPlusMonth.getFullYear();

            document.location.href = '/washings/orders/report/forwashing/{{ washing.id }}/byyear/' + year1 +'/month/' + month1 + '/day/' + day1 + '/year2/' + year2 + '/month2/' + month2 + '/day2/' + day2 + '/';
        }

        $(document).ready(init);
    </script>
    <style type="text/css">
    .ui-state-highlight { background: #0073EA !important; color: #fff !important; }
    #calendarPanel div.head { max-width: 200px; overflow: hidden;}
    </style>
</head>
<body>

<div id="popup" style="left:-10000px;">
    <div class="close"></div>

    <input type="text" placeholder="Номер авто" class="autono field" value="" />
    <input type="text" placeholder="Детали заказа" class="details field" value="" />
    <input type="text" placeholder="Имя клиента" class="name field" value="" />
    <input type="text" placeholder="Телефон" class="phone field" value="" />
    <textarea class="notes"></textarea>
    <div class="buttons">
        <input type="hidden" class="orderId" value="" />
        <input type="hidden" class="timeframe" value="" />
        <input type="hidden" class="postnumber" value="" />
        <input type="button" click="deletePopup()" style="float:left;width:70px;"
         class="button cancelbutton" value='Удалить' />
        <input type="button" click="submitPopup()" style="margin-left:6px;float:left;width:70px;"
         class="button okbutton" value='Готово' />
    </div>
</div>

<div id="top">
    <div id="topbar">
        <ul class="menu">
            <li href="#" class="last"><b><a href="/logout/">Выход</a></b></li>
        </ul>
        {% if profile.role == 'S' %}
        <a href="/"><img id="logo" src="{% static "img/logo.png" %}" /></a>
        {% else %}
        <a href="/"><img id="logo" src="{% static "img/logo.png" %}" /></a>
        {% endif %}
    </div>
</div>

<div style="overflow:hidden; overflow-x:scroll; border: 1px solid #8e91a0; border-radius: 5px; max-width: 960px; margin:0 auto; height:645px; margin-top:80px; box-shadow:0px 2px 2px rgba(0,0,0,0.3);">
    <table id="editor" cellspacing="0" cellpadding="0">
        <tr>
        <td valign="top" id="calendarPanel" style="border-right:1px solid #b0b1b2;">
            <div class="head">
                <h2>{{ washing.title }}</h2>
                <p class="contacts">{{ washing.address }}</p>
            </div>
            <div class="calendar" id="datepicker"></div>
            <div class="admin"></div>
            <input id="reportButton" type="button" style="margin:20px auto; width:150px;" class="button okbutton" value="Сформировать отчет" />
        </td>
        <td valign="top" id="ordersEditor">
            <div class="head" style="height:60px; border-bottom:1px solid #b0b1b2;"><h1>Таблица постов</h1></div>
            <div class="header"></div>
            <div class="orders"></div>
        </td>
    </table>
</div>

</body>
</html>