<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="en-US">
<head profile="http://www.w3.org/2005/10/profile">{% load static %}
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="shortcut icon" href="favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="robots" content="index, follow"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="verify-reformal" content="178f90ad542daa47deaf9ede" />

    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    
    <script type="text/javascript" src="{% static "js/jquery-ui-1.8.16.custom.min.js" %}"></script>
    <script type="text/javascript" src="/washings/jsonp/all/"></script>

    <title>MoykaInfo  Автомойки Тольятти</title>
    <!-- {{ now }} -->

    <link rel="stylesheet" href="{% static "css/fonts.css" %}" />
    <link rel="stylesheet" href="{% static "css/main.css" %}" />
    <!--[if IE]>
    <link rel="stylesheet" href="{% static "css/main-ie8.css" %}" />
    <style type="text/css">
        li:hover .submenu {
            overflow:auto !important;
        }
    </style>
    
    <![endif]-->

    <script type="text/javascript" src="{% static "js/html5placeholder.jquery.js" %}"></script>

    <script type="text/javascript" src='http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU'></script>
    
	<script type="text/javascript">
        function OrderModel()
        {
            this.clear = function() {
                this.washingId = 0;
                this.time = '';
                this.tomorrow = 0;
                this.fio = '';
                this.phone = '';
                this.carno = '';
                this.email = '';
            }

            this.formatTime = function() {
                hours = this.time[0];
                minutes = this.time[1];
                
                if (minutes < 10) { minutes = '0' + minutes;}
                if (hours < 10) { hours = '0' + hours; }
                return [hours, minutes].join(':'); 
            }

            this.addOrder = function(successCallback, errorCallback) {
                postData = {
                    'washing_id': this.washingId,
                    'date_time': this.formatTime(this.time),
                    'tomorrow': this.tomorrow,
                    'name': this.fio,
                    'phone': this.phone,
                    'autono': this.carno,
                    'email': this.email,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                };

                $.post('/washings/orders/add/', postData, function(data, status){
                    if (status == 'success') {
                        if (data.result) {
                            if (data.result.error) {
                                console.log('error: ' + data.result.error);
                                errorCallback(data.result.error, data);
                            }
                            if (data.result.new_order) {
                                successCallback(data.result.new_order, data);
                            }
                        }
                    } else {
                        console.log('senderror: ' + data);
                        errorCallback('senderror', null);
                    }
                });
            }

            this.clear();
            return this;
        }

        var viewModel;
        var mapView;
        var orderModel = new OrderModel();

        function showPopup(element, closeHandler) {
            $(element).find('.popupcontent').css('left', ($(document).width()-$(element).find('.popupcontent').width())/2 + 'px');
            $(element).find('.popupcontent').css('top', ($(window).height()-270)/2 + 'px');
            beforeshowtop = $('#top').css('top');
            beforeshowbottom = $('#bottom').css('bottom');
            $('#top').animate({'top': '-'+($("#top").height()+20)+'px'}, "fast");

            $('#bottom').animate({'bottom': '-400px'}, "fast", function(){
                $(element).fadeIn('fast');
                var shader = $(element).find('.shader')[0];

                function close(result){
                    return function (){
                        if (!closeHandler || (closeHandler && !closeHandler(element, result)))
                        {
                            $(element).fadeOut('fast',function(){$('#top').animate({'top': '0'}, "fast");
                            $('#bottom').animate({'bottom': '0'}, "fast");});
                            $(shader).add('.cancelbutton').unbind('click');
                            $(".okbutton").unbind('click');
                        }  
                        return true;                      
                    }
                }

                $(shader).add('.cancelbutton').bind('click', close('cancel'));
                $(".okbutton").bind('click', close('ok'));
            });
        }

        function closePopup(element, result, closeHandler, playAnimation) {
            if (!closeHandler || closeHandler && !closeHandler(element, result)) {
                var shader = $(element).find('.shader')[0];
                if (playAnimation) {
                    $(element).fadeOut('fast',function(){$('#top').animate({'top': '0'}, "fast");
                    $('#bottom').animate({'bottom': '0'}, "fast");});
                    
                } else {
                    $(element).hide();
                    $('#top').animate({'top': '0'}, "fast");
                }
                $(shader).add('.cancelbutton').unbind('click');
                $(".okbutton").unbind('click');
            }
        }

        function _pinTopBarAtCenter()
        {
            function handler (){
                $('#top').css('left', Math.ceil(($(window).width() - 792)/2) + 'px');
            }
            $(window).resize(handler);
            handler();
        }

        function normalize10(t) {
            if (t < 10) return '0'+t;
            else return t+'';
        }

        function updateOrderTimeAtPanel()
        {
            mseconds = 6E4 * {{ time_to_run_delta }}; 
            time = new Date(Date.now() + mseconds);
            
            $('#hours').val(normalize10(time.getHours()));
            $('#minutes').val(normalize10(time.getMinutes()));
   
        }

		function init () {
			mapView = new ymaps.Map('bigmap', {
                center: [{{ MAP_CENTER_LAT|floatformat:6 }}, {{ MAP_CENTER_LON|floatformat:6 }}],
                zoom: 12,
                type:'yandex#publicMap',
                behaviors: ['default', 'scrollZoom']
            });

            mapView.controls.add('zoomControl');
            

            var trafficControl = new ymaps.control.TrafficControl({shown: false});
            mapView.controls.add(trafficControl, {top: 50, right: 5});

            mapView.controls.add('typeSelector');

            viewModel = parseViewData(washings_data);
            updateMapView();
            updateListView();
            _pinTopBarAtCenter();
            updateOrderTimeAtPanel();
		}

        function formatTime(time) {
            return [time.split(":")[0],time.split(":")[1]].join(':');
        }

        function updateMapView() {
            mapView.geoObjects.each(function (geoObject) {
                mapView.geoObjects.remove(geoObject);
            });
            
            for (var i in viewModel) {
                var washing = viewModel[i];
                buttonsContent = '';
                if (washing.is_enabled) {
                    buttonsContent = '<button class="selectwashing" data-washingid="' + washing.id + '" style="margin:0 auto; width:140px;">Выбрать эту мойку</button>';
                }

                var title = ["<h2>",washing.name,"</h2>"].join('');

                {% if profile.role == 'S' %}
                    title = ["<h2><a href='/operator/" + washing.id + "'>",washing.name,"</a></h2>"].join('');
                {% elif profile.role == 'W' %}
                if (washing.id == '{{ profile.washing.id }}') {
                    title = ["<h2><a href='/operator/" + washing.id + "'>",washing.name,"</a></h2>"].join('');
                }
                {% endif %}
                
                timerange = washing.is_round_the_clock? 'Круглосуточно':[formatTime(washing.start_work_day)," — ",formatTime(washing.end_work_day)].join('');
                time = '';
                if (washing.is_enabled) {
                    time = ["<p class='time'>",timerange,"</p>"].join('');
                }

                mapView.geoObjects.add(
                    new ymaps.Placemark(
                        [washing.geo[1], washing.geo[0]], 
                        {
                            "washing_id": washing.id, 
                            balloonContent: 
                            [title,
                            "<p class='description'>",washing.description,"</p>",
                            "<p class='address'>",washing.address,"</p>",
                            time,
                            buttonsContent
                            ].join(''),
                            hintContent: ['<b>', washing.name, "</b><br/>", washing.address].join(''),
                            iconContent: ""
                        }, 
                        { 
                            balloonCloseButton: true
                        }
                        )
                    );
                var washing_id = washing.id;
            }
        }

        function updateListView() {
            var list = $("#washingslist .submenu");
            list.html('');  // clear list

            for (var i in viewModel) {
                var listElement = $("<a href='#' data-id='" + viewModel[i].id + "'>" + viewModel[i].name + "</a>");
                listElement.bind('click', function(){
                    var washing_id = $(this).data('id');
                    mapView.geoObjects.each(function(geoObject){
                        if (geoObject.properties.get('washing_id') == washing_id) {
                            geoObject.balloon.open();
                        }
                    });
                });
                list.append(listElement);
            }
        }

        function updateTimeGridViewWithData(dataObject) {
            var data = dataObject.result;
            $("#timeselection").html('');
            for (i in data) {
                var timegridItem = data[i];
                var selectedClass = '';
                if (timegridItem.time.split(':')[0] == orderModel.time[0] && timegridItem.time.split(':')[1] == orderModel.time[1] && timegridItem.available == 1) {
                    selectedClass = 'selected';
                }

                if (timegridItem.timedout) {
                    timegridItem.available = false;
                    selectedClass = 'timedout';
                }

                $("#timeselection").append('<li class="' + selectedClass + '"><a ' + (timegridItem.available == 1?'class ="'+ selectedClass + '"':'class="disabled ' + selectedClass + '"') 
                    + 'href="javascript:;" data-hours="' + timegridItem.time.split(':')[0] + 
                    '" data-minutes="' + timegridItem.time.split(':')[1] + '">' + formatTime(timegridItem.time) + '</a></li>');
            }
        }

        function retrieveDataForTimeGridByWashingIdAndToday(washingId, todayortomorrow) {
            $.get('/washings/timegrid/' + washingId + '/bytoday/' + todayortomorrow, function(data){
                updateTimeGridViewWithData(data);
            });
        }

        function initLayout() {
            function centerLayouts() {
                var windowWidth = $(document).width();
                $('.hcenter').each(function(i,obj){$(obj).css({"left": (windowWidth - $(obj).width())/2});});
            }
            centerLayouts();
            $(window).resize(centerLayouts);
            $('#selectByTime').click(selectWashingsByTime);

            function selectWashingClickHandler(){
                showPopup($("#choosebywashing"), choosebywashingCloseHandler); 
                washingId = $(this).data('washingid');
                orderModel.washingId = washingId;
                for (i in viewModel) {
                    if (viewModel[i].id == washingId) {
                        retrieveDataForTimeGridByWashingIdAndToday(washingId, 0);

                        $('#choosebywashing h5').html(viewModel[i].name);
                        $('#choosebywashing h6').html(viewModel[i].address);
                        $($('#choosebywashing .radio')[0]).attr('checked', '1');

                        break;
                    }
                }
            }

            function pickTimeClickHandler() {
                orderModel.time = [$(this).data('hours'), $(this).data('minutes')];

                $('#choosebywashing a').each(function(i,obj){
                    if ($(obj).hasClass('selected')) {
                        $(obj).removeClass('selected');
                    }
                });
                $(this).addClass('selected');

            }

            function switchTodayTomorrowHandler(){
                if ( $($('#choosebywashing .radio')[0]).attr('checked')) { 
                    orderModel.tomorrow = 0;
                } else {
                    orderModel.tomorrow = 1;
                }
                retrieveDataForTimeGridByWashingIdAndToday(orderModel.washingId, orderModel.tomorrow);
            }

            function choosebywashingCloseHandler(element, result) {
                if (result == 'ok') {
                    if ($('#choosebywashing li a.selected').length == 0) {
                        alert('Выберите удобное вам время!');
                        return true;
                    } else
                        setTimeout(function(){showPopup($("#orderForm"), orderFormResultHandler); }, 500);
                } 
            }

            function orderFormResultHandler(element, result) {
                if (result == 'ok') {
                    orderModel.fio = $('#orderForm .fio').val();
                    orderModel.phone = $('#orderForm .phone').val();
                    orderModel.email = $('#orderForm .email').val();
                    orderModel.carno = $('#orderForm .carno').val();

                    var address;
                    var washingName;

                    for (var i in viewModel) {
                        if (viewModel[i].id == orderModel.washingId) {
                            address = viewModel[i].address;
                            washingName = viewModel[i].name;
                        }
                    }

                    orderModel.addOrder(function(newOrder, data){
                        closePopup('#orderForm', 'cancel', null, true);
                        $('#notification .notifyContent').html(
                            [
                                '<h4>', 'Ваш заказ успешно зарегистрирован!</h4>',
                                '<p>', 'Автомойка «', washingName, '» по адресу «', address, '» на ', 
                                orderModel.tomorrow?'завтра ' : 'сегодня в&nbsp;', orderModel.formatTime(), 
                                ' для автомобиля с госномером ', orderModel.carno ,'</p>',
                                '<p class="msg">Не опаздывайте к назначенному времени!</p>'
                            ].join(''));
                        showPopup($('#notification'));
                    },
                    function(error, data) {
                        closePopup('#orderForm', 'cancel', null, true);
                        if (error == 'senderror') {
                            $('#notification .notifyContent').html(
                            ['<h4>', 'Ошибка на странице!</h4>',
                            '<p>', 'Произошла досадная ошибка. Пожалуйста перегрузите веб-страницу в вашем браузере и повторите попытку!','</p>'
                            ].join(''));                        
                        } else {
                            $('#notification .notifyContent').html(
                                [
                                    '<h4>', 'Ой-ой!</h4>',
                                    '<p>', 'К сожалению, зарегистрировать заказ не удалось. Попробуйте повторите попытку вновь, или укажите другое время. Возможно кто-то другой зарезервировал это время ','</p>'
                                ].join(''));
                        }
                        showPopup($('#notification'));
                    });
                    return true;
                }
            }

            $('button.selectwashing').live('click', selectWashingClickHandler);
            $('#choosebywashing a:not(.disabled)').live('click', pickTimeClickHandler);
            $('#choosebywashing .radio').live('click', switchTodayTomorrowHandler);


            $('input[type=text]').placeholder();
            $('input[type=email]').placeholder();
        }

        String.prototype.capitalize = function() {
            return this.charAt(0).toUpperCase() + this.slice(1);
        }

        function parseViewData(viewData) {
            var list = [];
            for (var i in viewData) {
                var fields = viewData[i].fields;

                list.push({
                    "id": viewData[i].pk,
                    "address":fields.address, 
                    "name":fields.title, 
                    "description":fields.description, 
                    "geo": [fields.geo_lon, fields.geo_lat],
                    "start_work_day": fields.start_work_day,
                    "end_work_day": fields.end_work_day,
                    "is_round_the_clock": fields.is_round_the_clock,
                    "is_enabled": fields.is_enabled
                });
            }
            return list;
        }

        function selectWashingsByTime() {
            tomorrow = 0;
            hours = normalize10(parseInt($('#hours').val()));
            minutes = normalize10(parseInt($('#minutes').val()));

            $.get('/washings/bytoday/' + tomorrow + '/andhours/' + hours + '/minutes/' + minutes,
                function (data) {
                    viewModel = parseViewData(data);
                    updateListView();
                    updateMapView();
                });
        }

		ymaps.ready(init);
        $(document).ready(initLayout);
    </script>
</head>
<body>
    <div id="bigmap"></div>
	
    <div id="bottom">
        <div id="bottombar" class="hcenter">
            <p>Выберите мойку<br/>или введите желаемое время</p>
            <table class="ordertime">
                <tr><td>
                    <input type="text" id="hours" value="18" />
                </td><td>
                    <input type="text" id="minutes" value="00" /></td></tr>
            </table>
            <button id="selectByTime" style="margin:0 auto; width:210px;">Выбрать мойку по времени</button>
        </div>
    </div>

    <div id="footer">
        <div id="footercentered">
            <div class="buttons">
                {% if site_settings.show_facebook %}
                <a class="facebook" href="{{ site_settings.facebook }}"></a>
                {% endif %}
                {% if site_settings.show_vkontakte %}
                <a class="vkontakte" href="{{ site_settings.vkontakte }}"></a>
                {% endif %}
                {% if site_settings.show_twitter %}
                <a class="twitter" href="{{ site_settings.twitter }}"></a>
                {% endif %}
                {% if site_settings.show_email %}
                <a href="mailto:{{ site_settings.contact_email }}" class="mail">{{ site_settings.contact_email }}</a>
                {% endif %}
            </div>
            <div class="copyright">
                Мойка инфо<br/>
                &copy; 2012
            </div>
        </div>
    </div>

    <div id="top">
        <div id="topbar">
            <ul class="menu">
                {% if user.is_staff %}
                <li href="#" class="last"><b><a href="/vpusti/">Администрирование</a></b></li>
                {% else %}
                <li href="#" class="last"><b><a href="/partners/">Вход для партнеров</a></b></li>
                {% endif %}
                <li href="#" id="washingslist"><b>Список моек &darr;</b>
                    <div class="submenu">
                    </div>
                </li>
            </ul>
            <img id="logo" src="{% static "img/logo.png" %}" />
        </div>
    </div>

    <div id="choosebywashing" class="popup">
        <div class="shader"></div>
        <div class="popupcontent">
            <div class="inner">
                    <h5></h5>
                    <h6></h6>
                <p>Выберите время для записи на мойку</p>

                <div class="leftsidebar">
                    <div class="todaytomorrowselector">
                        <label><input type="radio" class="radio" value="0" name="todayortomorrow" />сегодня</label>
                        <label><input type="radio" class="radio" value="1" name="todayortomorrow" />завтра</label>
                    </div>
                </div>
                <div class="rightsidebar">
                    <ul id="timeselection">
                    </ul>
                    <div class="popupbuttons">
                        <button class="okbutton">ОК</button>
                        <button class="cancelbutton">Отменить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="orderForm" class="popup">
        <div class="shader"></div>
        <div class="popupcontent" style="width:270px;">
            <form action="javascript:;">
                  {% csrf_token %}
                <div class="form">
                    <h4>Заполните поля заказа</h4>
                    <p><input type="text" placeholder="Ваше имя" 
                        style="border-color:#f00; width: 260px; border-radius:4px; border-width:1px; height:25px; padding:0px 0px 0px 5px; margin:0;"
                        required="required" class="fio required"/></p>
                    <p><input placeholder="Телефон" type="text" 
                        style="border-color:#f00; width: 260px; border-radius:4px; border-width:1px; height:25px; padding:0px 0px 0px 5px; margin:0;"
                        required="required" class="phone required"/></p>
                    <p><input placeholder="Номер автомобиля" 
                        style="border-color:#f00; width: 260px; border-radius:4px; border-width:1px; height:25px; padding:0px 0px 0px 5px; margin:0;"
                        type="text" required="required" class="carno required" /></p>
                    <p><input placeholder="E-mail (необязательно)" 
                        style="width: 260px; border-radius:4px; border-width:1px; height:25px; padding:0px 0px 0px 5px; margin:0;"
                        type="email" class="email" /></p>
                </div>
                <div class="popupbuttons">
                    <button style="margin-left:0px;" class="cancelbutton">Отменить</button>
                    <input type="submit" style="margin-top:10px;float:left;width:150px;" class="button okbutton" value='Выполнить заказ' />
                </div>
            </form>
        </div>
    </div>
    <div id="notification" class="popup">
        <div class="shader"></div>
        <div class="popupcontent" style="width:320px;">
            <div class="notifyContent">
                
            </div>
            <div class="popupbuttons">
                <button style="margin-left:0px;" class="cancelbutton">Закрыть</button>
            </div>
        </div>
    </div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter17594206 = new Ya.Metrika({id:17594206, enableAll: true, webvisor:true});
        } catch(e) { }
    });
    
    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/17594206" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- Google analytics counter -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35455826-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- /Google analytics counter -->

<!-- Reformal -->
<script type="text/javascript">
    var reformalOptions = {
        project_id: 74715,
        project_host: "moykainfo.reformal.ru",
        force_new_window: true,
        tab_orientation: "right",
        tab_indent: "50%",
        tab_bg_color: "#0a88d7",
        tab_border_color: "#FFFFFF",
        tab_image_url: "http://tab.reformal.ru/0J7RgdGC0LDQstGM0YLQtSDQvtGC0LfRi9Cy/FFFFFF/5b7221532e893aebafbcbf83e8e3d17a/left/1/tab.png",
        tab_border_width: 1
    };
    
    (function() {
        var script = document.createElement('script');
        script.type = 'text/javascript'; script.async = true;
        script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
        document.getElementsByTagName('head')[0].appendChild(script);
    })();
</script>
<noscript><a href="http://reformal.ru"><img src="http://media.reformal.ru/reformal.png" /></a><a href="http://moykainfo.reformal.ru">Оставьте отзыв</a></noscript>
</body>
</html>
