<!DOCTYPE html> 
<html> 
<head> 
    <title>Moykainfo.ru</title> {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
    <script type="text/javascript" src="/washings/jsonp/all/"></script>
    <script type="text/javascript" src='http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU'></script>

    <script type="text/javascript">
        initialized = false; 

        function OrderModel()
        {
            this.clear = function() {
                this.washingId = 0;
                this.time = '';
                this.tomorrow = 0;
                this.fio = '';
                this.phone = '';
                this.carno = '';
                this.email = '';
            }

            this.formatTime = function() {
                hours = this.time[0];
                minutes = this.time[1];
                
                if (minutes < 10) { minutes = '0' + minutes;}
                if (hours < 10) { hours = '0' + hours; }
                return [hours, minutes].join(':'); 
            }

            this.addOrder = function(successCallback, errorCallback) {
                postData = {
                    'washing_id': this.washingId,
                    'date_time': this.formatTime(this.time),
                    'tomorrow': this.tomorrow,
                    'name': this.fio,
                    'phone': this.phone,
                    'autono': this.carno,
                    'email': this.email,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                };

                try{
                    $.post('/washings/orders/add/', postData, function(data, status){
                        if (status == 'success') {
                            if (data.result) {
                                if (data.result.error) {
                                    errorCallback(data.result.error, data);
                                }
                                if (data.result.new_order) {
                                    successCallback(data.result.new_order, data);
                                }
                            }
                        } else {
                            errorCallback('senderror', null);
                        }
                    });
                } catch(e) {
                    errorCallback('exception', null);
                }
            }

            this.clear();
            return this;
        }

        var viewModel;
        var mapView;
        var orderModel = new OrderModel();

        function normalize10(t) {
            if (t < 10) return '0'+t;
            else return t+'';
        }

        function init () {
            mapView = new ymaps.Map('bigmap', {
                center: [{{ MAP_CENTER_LAT|floatformat:6 }}, {{ MAP_CENTER_LON|floatformat:6 }}],
                zoom: 12,
                type:'yandex#publicMap',
                behaviors: ['default', 'scrollZoom']
            });

            var trafficControl = new ymaps.control.TrafficControl({shown: false});
            mapView.controls.add(trafficControl, {top: 50, right: 5});
            mapView.controls.add('typeSelector');

            selectWashingsByTime();
            updateMapView();
        }

        function formatTime(time) {
            return [time.split(":")[0],time.split(":")[1]].join(':');
        }


        var selectedWashing;

        function updateMapView() {
            mapView.geoObjects.each(function (geoObject) {
                mapView.geoObjects.remove(geoObject);
            });
            
            for (var i in viewModel) {
                var washing = viewModel[i];
                placemark = new ymaps.Placemark([washing.geo[1], washing.geo[0]], {hintContent: ['<b>', washing.name, "</b><br/>", washing.address].join('')});
                
                function closure() {
                    var w = washing;
                    handler = function(){ 
                        selectedWashing = w;
                        setupViewForWashing(); 
                        $.mobile.changePage("#washing");
                    };
                    return handler;
                }

                placemark.events.add(["click"], closure());
                mapView.geoObjects.add(placemark);
            }
        }

        function setupViewForWashing() {
            washing = selectedWashing;
            $("#selectedWashingName").html(washing.name);
            $("#selectedWashingDescription").html(washing.description);
            $("#selectedWashingAdress").html(washing.address);
            if (!washing.is_enabled) {
                $('#washingOrderCreating').hide();
            } else {
                $('#washingOrderCreating').show();
            }

            $('input[name=todayortomorrow]').bind('change', function(){
                retrieveDataForTimeGridByWashingIdAndToday(washing);                
            });

            retrieveDataForTimeGridByWashingIdAndToday(washing);
        }

        function parseViewData(viewData) {
            var list = [];
            for (var i in viewData) {
                var fields = viewData[i].fields;

                list.push({
                    "id": viewData[i].pk,
                    "address":fields.address, 
                    "name":fields.title, 
                    "description":fields.description, 
                    "geo": [fields.geo_lon, fields.geo_lat],
                    "start_work_day": fields.start_work_day,
                    "end_work_day": fields.end_work_day,
                    "is_round_the_clock": fields.is_round_the_clock,
                    "is_enabled": fields.is_enabled
                });
            }
            return list;
        }

        function selectWashingsByTime() {
            if (!$('#timeSelectHours').val() || $('#timeSelectHours').val() == '-') {
                viewModel = parseViewData(washings_data);
                updateMapView();
            } else {
                hours = $('#timeSelectHours').val().split(':')[0];
                minutes = $('#timeSelectHours').val().split(':')[1];
                $.get('/washings/bytoday/0/andhours/' + hours + '/minutes/' + minutes,
                    function (data) {
                        viewModel = parseViewData(data);
                        updateMapView();
                    });
            }
        }

        function updateListView() {
            var list = $("#washingsList");
            list.html('');
            // list.listview();
            for (var i in viewModel) {
                var listElement = $("<li><a href='#washing?id=" + viewModel[i].id+ "'>" + viewModel[i].name + "</a></li>");
                list.append(listElement);
            }
            $('#washingsList').listview('refresh');
        }

        function setupTimechoose() {
            $('#chooseTimeWrapper').html('');
            $('#chooseTimeWrapper').append($('<select id="timeSelectHours" data-inline="true" ></select>'));

            var nearestHour = new Date().getHours();
            var nearestMinute = new Date().getMinutes();
            if (nearestMinute > 30) {
                nearestHour++;
                nearestMinute = '00';
            } else {
                nearestMinute = '30';
            }
            $('#timeSelectHours').append($('<option selected="selected" value="-">Время</option>'));    
            for (var hours = 0; hours < 24; hours++) {
                time = normalize10(hours) + ':00';
                $('#timeSelectHours').append($('<option value="' + time + '">' + time + '</option>'));    
                time = normalize10(hours) + ':30';
                $('#timeSelectHours').append($('<option value="' + time + '">' + time + '</option>'));    
            }

            $('#timeSelectHours').selectmenu();
            $('#timeSelectHours').live('change', function(){selectWashingsByTime();});
        }

        function updateTimeGridViewWithData(dataObject) {
            var data = dataObject.result;
            $("#timegrid").html('');
            $('#timegrid').append($('<fieldset id="timegridControls" data-role="controlgroup"></fieldset>'));

            var id = 0;
            for (i in data) {
                id++;
                var timegridItem = data[i];
                var selectedClass = '';
                if (timegridItem.time.split(':')[0] == orderModel.time[0] && timegridItem.time.split(':')[1] == orderModel.time[1] && timegridItem.available == 1) {
                    selectedClass = 'selected';
                }

                if (timegridItem.timedout) {
                    timegridItem.available = false;
                    selectedClass = 'timedout';
                }

                if (timegridItem.available) {
                    $("#timegridControls").append('<input type="radio" name="timegridselect" value="' + timegridItem.time + '" id="timegridselect-' + id + '" />');
                    $("#timegridControls").append('<label for="timegridselect-' + id + '">' + timegridItem.time + '</label>');
                }
            }

            $("#timegridControls").trigger("create");

        }

        function retrieveDataForTimeGridByWashingIdAndToday(washing) {
            todayortomorrow = $('input[name=todayortomorrow]:checked').val();
            $.get('/washings/timegrid/' + washing.id + '/bytoday/' + todayortomorrow, function(data){
                updateTimeGridViewWithData(data);
            });
        }


        $(document).delegate("#chooseTime", "pageinit", function(){setupTimechoose();});
        $(document).delegate("#createOrderButton", "click", function(){
            time = $('input[name=timegridselect]:checked').val();
            if (!time) {
                alert('Чтобы записаться выберите время!');
                return;
            }

            orderModel.washingId = selectedWashing.id;
            orderModel.time = time.split(':');
            orderModel.tomorrow = $('input[name=todayortomorrow]:checked').val();
            $.mobile.changePage("#createOrder");
        });
        $(document).delegate("#commitOrderButton", "click", function(){
            orderModel.fio = $('#fio').val();
            orderModel.phone = $('#phone').val();
            orderModel.carno = $('#carno').val();
            orderModel.email = $('#email').val();
                        
            var success = function(order, data){
                markup = ['<p>', 'Автомойка «', selectedWashing.name, '» по адресу «', selectedWashing.address, '» на ', 
                                orderModel.tomorrow.toString() == '1'?'завтра ' : 'сегодня в&nbsp;', orderModel.formatTime(), 
                                ' для автомобиля с госномером ', orderModel.carno ,'</p>',
                                '<p style="font-weight:bolder;">Не опаздывайте к назначенному времени!</p>'].join('');
                $.mobile.changePage("#orderCreated");

                $("#newOrderDetails").html('');
                $("#newOrderDetails").append($(markup));
                
            };

            var error = function (error, data){
                if (error == "senderror" || error == "exception") {
                    alert("При регистрации заказа возникла ошибка! Пожалуйста, повторите попытку!");
                } else {
                    alert("Ой-ой! Видимо кто-то другой уже оформил заказ на ваше время! Пожалуйста, повторите попытку!");
                    $.mobile.changePage("#washing");
                }
                $.mobile.changePage("#createOrder");
            };

            orderModel.addOrder(success, error);
        });
        



        $(document).ready(function(){
            ymaps.ready(function(){
                // ymapInitialized = true;
                initialized = true;
                init();
                setupTimechoose();
            });
        });
        $(document).bind("pagechange", function( e, data ) {
                var u = $.mobile.path.parseUrl( e.delegateTarget.URL );
                var listre = /^#list/;
                var indexre = /^$/;

                var washingre = /^#washing/;

                if (u.hash.indexOf('#')>=0 && !initialized) { // to prevent from opening saved hash page 
                    document.location.href='/';
                    return;
                }

                if ( u.hash.search(listre) !== -1 ) {

                    updateListView();
                } else if ( u.hash.search(indexre) !== -1 ) {
                    // init();
                }  else if ( u.hash.search(washingre) !== -1 ) {
                    

                }
                return false;            
            });
    </script>

    <style type="text/css">
    #bigmap {
        position: absolute;
        width: 100%;
        min-height: 100%;
        height: 100% !important;
    }

    .ymaps-map {
        font-size: 10px;
    }

    .ymaps-coyprights-ua-extended {
        font-size: 8px !important;
    }

    .ui-bar-a { padding:4px;}

[data-role=page]{height: 100% !important; position:relative !important;}
[data-role=footer]{bottom:0; position:absolute !important; top: auto !important; width:100%;} 
[data-role=content].map { margin:0!important; padding:0!important; }
    </style>

</head> 
<body> 

<div id="index" data-role="page">
    <div data-role="header" style="height:32px;" >
        <div style="position:absolute; right:0px; top:-5px;" id="chooseTimeWrapper">
            
        </div>
        <center><img style="z-index:100; height:20px; margin:6px auto;" src="{% static "mobile/logo.png" %}" /></center>
        <a href="#list" data-role="button">Списком</a>

    </div>
    <div data-role="content" class="map" style="padding:0;">   
        
        <div id="bigmap"></div>

    </div><!-- /content -->

</div><!-- /page -->

<div id="washing" data-role="page">
    <div data-role="header" style="height:30px;">
        <a data-role="button" data-rel="back" data-icon="back">Назад</a>
    </div>
    <div data-role="content">   
        <h3 id="selectedWashingName"></h3>
        <p id="selectedWashingDescription"></p>
        <p id="selectedWashingAdress"></p>
        <!-- <p id="selectedWashingTime">с 11:00 до 22:00</p> -->
        <div id="washingOrderCreating">
            <hr />
            <h3>Запись на мойку<h3>
            <fieldset data-role="controlgroup" data-type="horizontal">
                <input type="radio" name="todayortomorrow" id="radio-choice-1" value="0"  checked="checked" />
                <label for="radio-choice-1">Сегодня</label>
                <input type="radio" name="todayortomorrow" id="radio-choice-2" value="1"  />
                <label for="radio-choice-2">Завтра</label>
            </fieldset>
            <h4>Выберите время</h4>
            <div id="timegrid"></div>

            <br/>            
            <a id="createOrderButton" data-role="button">Записаться на мойку!</a>
        </div>

    </div><!-- /content -->
</div>

<div id="list" data-role="page">
    <div data-role="header" style="height:30px;">
        <a data-role="button" data-rel="back" data-icon="back">Назад</a>
    </div>
    <div data-role="content">
        <ul id="washingsList" data-role="listview" data-inset="true" data-filter="true"></ul>
    </div>   
</div>

<div id="createOrder" data-role="page">
    <div data-role="header" style="height:30px;">
        <a data-role="button" data-rel="back" data-icon="back">Назад</a>
    </div>
    <div data-role="content">
        <form>
            {% csrf_token %}
            <label for="fio">Ваше имя</label>
            <input type="text" required="required" id="fio" />
            <label for="phone">Телефон для связи</label>
            <input type="text" required="required" id="phone" />
            <label for="carno">Номер автомобиля</label>
            <input type="text" required="required" id="carno" />
            <label for="email">Электронная почта (необязательно)</label>
            <input type="text" id="email" />
        </form>
        <br/>            
        <a id="commitOrderButton" data-role="button">Создать заказ!</a>
    </div>
</div>

<div id="orderCreated" data-role="page">
    <div data-role="header" style="height:30px;">
        <a data-role="button" href="/" data-icon="back">Начало</a>
    </div>

    <div data-role="content">
        <h4>Заказ успешно оформлен!</h4>
        <p id="newOrderDetails"></p>
    </div>

</div>

</body>
</html>